* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 50%, rgb(21, 239, 170) 50%);
}

.container{
    /* width : 45%; */
    position: relative;
    max-width: 320px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
}
.container header {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center;
}
.container form {
    margin-top: 30px;
}
form .field {
    margin-bottom: 20px;
}
form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
}
.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}
.invalid input {
    border-color: #d93025;
}
.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}
.field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}
.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}
.invalid .error {
    display: flex;
}
.create-password .error {
    align-items: flex-start;
}
.create-password .error-icon {
    margin-top: 4px;
}
.button {
    margin: 25px 0 6px;
}
.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #303030;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover {
    background-color: #111;
}
.button input:active {
    transform: scale(0.97);
}